{{#each bits}}
    <div class="bits_card">
        <a href='{{url}}' target="_blank">
        <img class="bits_card_img {{bits_img_class_name}}">
        <div class="bits_link_frame">
            <span>{{title}}</span>
            <img src="./handlebars_img/arrow_bits.svg" alt="Arrow_link">
        </div>
        <span class="bits_description">
            {{description}}
        </span>
        </a>
    </div>
{{/each}}
