<div class="vitals_book_container">      
    <div class="vitals_book {{book_id}}" id="{{book_id}}">
        <div class="vitals_book_front">
            <div class="vitals_book_cover">
                <p class="vitals_cover_title">{{title}}</p>	
                <p class="vitals_cover_author">A. Charon <br>N. Meuton</p>
            </div>
        </div>
        <div class="vitals_book_spine">
            <h2>
                <span>La martigane</span>
                <span>{{title}}</span>
            </h2>
        </div>
    </div>
</div>