<div class="contact_card_frame" id="contact_card_frame">
    <div class="contact_card">
        <div class="contact_head_frame">
            <span class="contact_name">Gualtiero<br/>Mottola</span>
        </div>
        <div class="links_frame">
            <div class="email_container">
                <a class="email" href="mailto:gualtiero@mottola.fr" id="email">gualtiero@mottola.fr</a>
                <div class="icon_btn" id="icon_btn_copy">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="icon_btn_copy_img"  alt="copy">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5 1H4.5C3.4 1 2.5 1.9 2.5 3V16C2.5 16.55 2.95 17 3.5 17C4.05 17 4.5 16.55 4.5 16V4C4.5 3.45 4.95 3 5.5 3H15.5C16.05 3 16.5 2.55 16.5 2C16.5 1.45 16.05 1 15.5 1ZM19.5 5H8.5C7.4 5 6.5 5.9 6.5 7V21C6.5 22.1 7.4 23 8.5 23H19.5C20.6 23 21.5 22.1 21.5 21V7C21.5 5.9 20.6 5 19.5 5ZM9.5 21H18.5C19.05 21 19.5 20.55 19.5 20V8C19.5 7.45 19.05 7 18.5 7H9.5C8.95 7 8.5 7.45 8.5 8V20C8.5 20.55 8.95 21 9.5 21Z"/>
                    </svg>         
                </div>
            </div>
            <div class="contact_link_frame">
                <i class="fab fa-lg fa-github"></i>
                <a href="https://github.com/gualt1995">github.com/gualt1995</a>
            </div>
            <div class="contact_link_frame">
                <i class="fab fa-lg fa-figma"></i>
                <a href="https://www.figma.com/@gualti">figma.com/@gualti</a>
            </div>
            <div class="contact_link_frame">
                <i class="fab fa-lg fa-linkedin-in"></i>
                <a href="https://www.linkedin.com/in/gualtm/">linkedin.com/in/gualtm</a>
            </div>   
        <div class="toast_contact" id="toast_contact">
            <span>Email address copied to clipboard</span>
        </div>
    </div>
    <div class="contact_icon_btn_frame unselectable">
        <div class="icon_btn icon_btn_close" id="icon_btn_contact_close">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" alt="close" id="icon_btn_contact_close_img">
                <path d="M18.3 5.70999C18.1131 5.52274 17.8595 5.41751 17.595 5.41751C17.3305 5.41751 17.0768 5.52274 16.89 5.70999L12 10.59L7.10997 5.69999C6.92314 5.51274 6.66949 5.40751 6.40497 5.40751C6.14045 5.40751 5.8868 5.51274 5.69997 5.69999C5.30997 6.08999 5.30997 6.71999 5.69997 7.10999L10.59 12L5.69997 16.89C5.30997 17.28 5.30997 17.91 5.69997 18.3C6.08997 18.69 6.71997 18.69 7.10997 18.3L12 13.41L16.89 18.3C17.28 18.69 17.91 18.69 18.3 18.3C18.69 17.91 18.69 17.28 18.3 16.89L13.41 12L18.3 7.10999C18.68 6.72999 18.68 6.08999 18.3 5.70999Z"/>
            </svg>     
        </div>
    </div>
</div>