<div class="footnote_frame">
    <div class="footnote_frame_inner">
        <div class="footnote_logo text_display_small_spaced"> 
            <span> Gualti </span>
        </div>
        <div class="footnote_clock">
            <span>• FR <sup>par</sup> </span> <span class="set_time_here"></span>
        </div>
        <div class="footnote_links_frame text_light">
            <div class="footnote_link_button">
                <i class="fab fa-lg fa-github"></i>
                <a href="https://github.com/gualt1995">github.com/gualt1995</a>
            </div>
            <div class="footnote_link_button">
                <i class="fab fa-lg fa-figma"></i>
                <a href="https://www.figma.com/@gualti">figma.com/@gualti</a>
            </div>
            <div class="footnote_link_button">
                <i class="fab fa-lg fa-linkedin-in"></i>
                <a href="https://www.linkedin.com/in/gualtm/">linkedin.com/in/gualtm</a>
            </div>
        </div>
        <div class="text_medium_spaced_upper footnote_buttons_frame">
            <div class="text_btn" id="footer_btn_connect"> Contact </div>
            <div class="text_btn" id="footer_btn_share"> Share </div>
        </div>
        <div class="text_light footnote_made_by">
            <div class="footnote_designer">
                <span>Designed / Built  by:</span>
                <span>Gualtiero Mottola </span>
            </div>
            <div class="footnote_made_in">
                <span> Made in Paris-FR</span>
                <span>WIP</span>
            </div>
        </div>
        <div class="footnote_to_top_frame">
            <span >back to top</span>
            <div class="icon_btn" id="icon_btn_to_top">
                <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="icon_btn_copy_img"  alt="copy">
                    <path d="M11.295 8.99999L6.70498 13.59C6.31498 13.98 6.31498 14.61 6.70498 15C7.09498 15.39 7.72498 15.39 8.11498 15L12.005 11.12L15.885 15C16.275 15.39 16.905 15.39 17.295 15C17.685 14.61 17.685 13.98 17.295 13.59L12.705 8.99999C12.325 8.60999 11.685 8.60999 11.295 8.99999Z"/>
                </svg>         
            </div>
        </div>
    </div>
</div>