{{#each footer_btn}}
    <div class="footer_btn" id={{footer_btn_id}}>
        <div class="footer_btn_background"></div>
        <div class="footer_btn_text" >
            {{footer_btn_name}}
        </div>
    </div>
{{/each}}