<div class="site_bar">
    <div class="site_bar_inner">
        <div class="site_bar_logo_frame"> 
            <svg width="33" height="33" viewBox="0 0 33 33" xmlns="http://www.w3.org/2000/svg" class="">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M26.125 5.5C26.125 4.74061 26.7406 4.125 27.5 4.125C28.2594 4.125 28.875 4.74061 28.875 5.5C28.875 6.25939 28.2594 6.875 27.5 6.875C26.7406 6.875 26.125 6.25939 26.125 5.5ZM4.125 11C4.125 10.2406 4.74061 9.625 5.5 9.625C6.25939 9.625 6.875 10.2406 6.875 11C6.875 11.7594 6.25939 12.375 5.5 12.375C4.74061 12.375 4.125 11.7594 4.125 11ZM5.5 15.125C4.74061 15.125 4.125 15.7406 4.125 16.5C4.125 17.2594 4.74061 17.875 5.5 17.875C6.25939 17.875 6.875 17.2594 6.875 16.5C6.875 15.7406 6.25939 15.125 5.5 15.125ZM20.625 22C20.625 21.2406 21.2406 20.625 22 20.625C22.7594 20.625 23.375 21.2406 23.375 22C23.375 22.7594 22.7594 23.375 22 23.375C21.2406 23.375 20.625 22.7594 20.625 22ZM27.5 20.625C26.7406 20.625 26.125 21.2406 26.125 22C26.125 22.7594 26.7406 23.375 27.5 23.375C28.2594 23.375 28.875 22.7594 28.875 22C28.875 21.2406 28.2594 20.625 27.5 20.625ZM4.125 22C4.125 21.2406 4.74061 20.625 5.5 20.625C6.25939 20.625 6.875 21.2406 6.875 22C6.875 22.7594 6.25939 23.375 5.5 23.375C4.74061 23.375 4.125 22.7594 4.125 22ZM22 26.125C21.2406 26.125 20.625 26.7406 20.625 27.5C20.625 28.2594 21.2406 28.875 22 28.875C22.7594 28.875 23.375 28.2594 23.375 27.5C23.375 26.7406 22.7594 26.125 22 26.125ZM26.125 27.5C26.125 26.7406 26.7406 26.125 27.5 26.125C28.2594 26.125 28.875 26.7406 28.875 27.5C28.875 28.2594 28.2594 28.875 27.5 28.875C26.7406 28.875 26.125 28.2594 26.125 27.5ZM11 9.625C10.2406 9.625 9.625 10.2406 9.625 11C9.625 11.7594 10.2406 12.375 11 12.375C11.7594 12.375 12.375 11.7594 12.375 11C12.375 10.2406 11.7594 9.625 11 9.625ZM4.125 5.5C4.125 4.74061 4.74061 4.125 5.5 4.125H11C11.7594 4.125 12.375 4.74061 12.375 5.5C12.375 6.25939 11.7594 6.875 11 6.875H5.5C4.74061 6.875 4.125 6.25939 4.125 5.5ZM16.5 9.625C15.7406 9.625 15.125 10.2406 15.125 11C15.125 11.7594 15.7406 12.375 16.5 12.375H22C22.7594 12.375 23.375 11.7594 23.375 11C23.375 10.2406 22.7594 9.625 22 9.625H16.5ZM9.625 16.5C9.625 15.7406 10.2406 15.125 11 15.125H16.5C17.2594 15.125 17.875 15.7406 17.875 16.5C17.875 17.2594 17.2594 17.875 16.5 17.875H11C10.2406 17.875 9.625 17.2594 9.625 16.5ZM11 20.625C10.2406 20.625 9.625 21.2406 9.625 22C9.625 22.7594 10.2406 23.375 11 23.375H16.5C17.2594 23.375 17.875 22.7594 17.875 22C17.875 21.2406 17.2594 20.625 16.5 20.625H11ZM4.125 27.5C4.125 26.7406 4.74061 26.125 5.5 26.125H11C11.7594 26.125 12.375 26.7406 12.375 27.5C12.375 28.2594 11.7594 28.875 11 28.875H5.5C4.74061 28.875 4.125 28.2594 4.125 27.5ZM16.5 4.125C15.7406 4.125 15.125 4.74061 15.125 5.5C15.125 6.25939 15.7406 6.875 16.5 6.875H22C22.7594 6.875 23.375 6.25939 23.375 5.5C23.375 4.74061 22.7594 4.125 22 4.125H16.5Z"/>
            </svg>
        </div>
        <div class="tabs_frame">
            {{#each tabs}}
            <div class="{{name}}_tab_selector">
                <span class="tab unselectable"> {{name}} </span>
            </div>
            {{/each}}
        </div>
        <div class="site_bar_themes">
            <!-- populated by handlebars template -->
        </div>
    </div>
</div>
 <div class="side_menu side_menu_hidden">
    <div class="side_menu_inner">
        <div class="side_menu_nav_cluster">
            <div class="side_menu_header">
                <span class="text_light"> Navigation </span>
                <svg class="side_menu_close_icon" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.8925 5.30249C17.7057 5.11523 17.452 5.01 17.1875 5.01C16.923 5.01 16.6693 5.11523 16.4825 5.30249L11.5925 10.1825L6.7025 5.29249C6.51567 5.10523 6.26202 5 5.9975 5C5.73298 5 5.47933 5.10523 5.2925 5.29249C4.9025 5.68249 4.9025 6.31249 5.2925 6.70249L10.1825 11.5925L5.2925 16.4825C4.9025 16.8725 4.9025 17.5025 5.2925 17.8925C5.6825 18.2825 6.3125 18.2825 6.7025 17.8925L11.5925 13.0025L16.4825 17.8925C16.8725 18.2825 17.5025 18.2825 17.8925 17.8925C18.2825 17.5025 18.2825 16.8725 17.8925 16.4825L13.0025 11.5925L17.8925 6.70249C18.2725 6.32249 18.2725 5.68249 17.8925 5.30249Z"/>
                </svg>
            </div>
            <div class="side_menu_tab_frame">
                {{#each tabs}}
                <div class="{{name}}_tab_selector ">
                    <span class="tab unselectable text_display_small"> {{name}} </span>
                </div>
                {{/each}}
            </div>
            <div class="horizontal_line"></div>
        </div> 
        <div class="side_menu_actions_cluster">
            <div class="side_menu_buttons">
                <div class="contained_button" id="side_menu_btn_contact">
                    <span>Contact</span>
                </div>
                <div class="contained_button" id="side_menu_btn_share">
                    <span>Share</span>
                </div>
            </div>
            <div class="side_menu_designer">
                <span> By:</span>
                <span>Gualtiero Mottola </span>
            </div>
            <div class="side_menu_made_in">
                <span> Made in Paris-FR</span>
                <span>WIP</span>
            </div>
        </div>
    </div>
</div>