{{#each tab}}
    <div class="tab_wrapper" id="{{tab_id}}">
        <div class="tab">
            <span class="unselectable">{{tab_name}}</span>
            <div class="underline" id="{{underline_id}}"></div>
        </div>
    </div>
{{/each}}