
<div class="theme_widget_frame"  id="{{theme}}">
    <div class="theme_widget" style="background-color:{{background}};"> 
        <div style="background-color:{{accent}}";></div> 
    </div>
    <div class="theme_widget_text">
        {{theme}}
    </div>
</div>