.icon_btn{
    height: var(--spacing_xxl);
    width: var(--spacing_xxl);
    background: var(--background_secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    cursor: pointer;
    transition: all 0.4s;
}

.icon_btn::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: var(--spacing_xxl);
    width: var(--spacing_xxl);
    border: 1px solid var(--text);
    transition: all 0.4s;
}

.icon_btn > svg{
    fill: var(--text);
    padding: var(--spacing_s);
}

.icon_btn_hover{
    background: var(--text);
}

.icon_btn_hover > svg{
    fill : var(--background);
}

.icon_btn_hover::after{
    height: calc(var(--spacing_xxl)  - 8px);
    width: calc(var(--spacing_xxl)  - 8px);
    border: 1px solid var(--background);
}


.text_btn{
    cursor: pointer;
}

.contained_button{
    padding: var(--spacing_xxs) var(--spacing_xs);
    background: var(--background_tertiary);
    fill: var(--text);
    border: var(--border_surface_small);
    border-radius: var(--border_raduis_small);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.contained_button > svg{
    margin-right: var(--spacing_xxs);
}

.contained_button_hover{
    background: var(--color_interaction);
}

.contained_button_selected{
    background: var(--background_secondary);
    border: var(--border_surface_small_selected);
    color: var(--text_interaction);
    fill: var(--text_interaction);
    cursor: default;
}

.contained_button_disabled{
    opacity: 50%;
}

a{
    color: var(--text);
    cursor: pointer;
}

.a_selected{
    color: var(--text_interaction);
}

.link_indicator{
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: var(--text);

}

.link_indicator::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid var(--text);
    transition: all 0.2s;
}

.link_indicator_hover{
    background: var(--text_interaction);
    fill: var(--background);
    border-radius: 50%;
}

.link_indicator_hover::after{
    height: 16px;
    width: 16px;
    border: 1px solid var(--background);
}