.footer_frame{
    position: absolute;
}

.footer_btn_frame{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
}

.footer_btn_flex{
    width: 80%;
    max-width: 570px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.toast_footer{
    position: absolute;
    text-align: center;
    top: 0%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--background);
    z-index: 2;
}


.footer_btn{
    margin: 10px;
    position: relative;
    width: 150px;
    height: 150px;
    pointer-events: auto;
    cursor: pointer;
    z-index: 1;
}

.footer_btn_background{
    width: 100%;
    height: 100%;
    background: var(--background);
    opacity: 0.5;
    border-radius: 50%;
    border: 1px solid var(--accent);
    box-sizing: border-box;
    box-shadow: inset 0px 0px 50px 2px var(--accent);
}

.footer_btn_text{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 150px;
    position: absolute;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    
}

.footer_notes_frames{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_notes_flex{
    font-weight: 300;
    max-width: 570px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 80%;
    opacity: 50%;
}

.footer_designer{
    display: flex;
    flex-direction: row;
    margin: 6px 0;
    align-items: center;
}


.footer_designer > *:nth-child(2) {
    font-weight: normal;
    margin-left: 6px;
}

.footer_made_in{
    display: flex;
    flex-direction: row;
    margin: 6px 0;
    align-items: center;
}

.footer_made_in > *:nth-child(2) {
    border: 1px solid var(--type);
    margin-left: 6px;
    padding: 2px;
}


@media screen and (max-width: 650px) {
    .footer_btn_flex{
        flex-direction: column;
    }

    .footer_btn{
        height: 50px;
        width: 100%;
        max-width: 355px;
    }

    .footer_btn_text{
        line-height: 50px;
    }

    .footer_btn_background{
        border-radius: 6px;
    }

    .footer_notes_flex{
        justify-content: center;
        flex-direction: column;
    }
}
