.icons_frame{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.icons_group{
    width: 90%;
    max-width: var(--page_content_width);
    border: var(--border_surface_large);
    background: var(--background_secondary);
    box-shadow: var(--shadow_surface);
    border-radius: var(--border_raduis_medium);
    margin-bottom: var(--spacing_xxl);
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}

.icon_header{
    display: grid;
    margin: var(--spacing_m) var(--spacing_m) 0 var(--spacing_m);
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
}

.icon_group_title{
    grid-column: 1;
    margin-right: var(--spacing_xs);
}

.icon_btn_stlye_frame{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon_selector_pill{
    margin-right: var(--spacing_xs);
    fill: var(--accent);
    cursor: pointer;
}

.icon_selector_pill_hover{
    fill: var(--text_interaction);
}

.icon_selector_pill_disabled{
    fill: var(--text_tertiary);
    cursor: auto;
}

.icon_figma_link{
    display: flex;
    grid-column: 3;
    justify-self: end;
}

.icon_figma_link > span{
    padding-right: 4px;
}

.icon_group_list{
    width: 100%;
}

.icon_style{
    margin: var(--spacing_xxs) var(--spacing_m)  var(--spacing_m) var(--spacing_m);
    display: grid;
    gap: var(--spacing_s);
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.icon_display{
    justify-self: center;
    height: 120px;
    width: 100%;
    padding: var(--spacing_xxs);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border-radius: var(--border_raduis_small);
    transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
}

.icon_display_selected{
    background-color: var(--background_tertiary);
}

.icons_svg{
    fill: var(--text);
    transform: scale(1.2);    
    margin-bottom: 20px;
}

.icons_preview_frame{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform-origin: center;
}

.icons_preview_image{
    fill: var(--text);
}

.icons_preview_frame_active{
    display: flex;
    opacity: 1;
}

.icon_preview_container{
    width: 95%;
    max-width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: var(--shadow_surface);
    background: var( --background);
    border-radius: var( --border_raduis_large);
    border: var( --border_surface_large);
}

.Icon_preview_close_btn{
    margin-top: var(--spacing_m);
}

@media screen and (max-width: 658px) {

    .icon_header{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .icon_group_title{
        margin-bottom: var(--spacing_xs);
    }

    .icon_figma_link{
        justify-self: start;
        grid-column: 1;
        grid-row: 2;
    }

    .icon_btn_stlye_frame{
        justify-self: end;
        grid-column: 2;
    }
}