.vector_frame{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustrations_content{
    width: 90%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
}

.illustrations_flex_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing_l);
}

.illustrations_card{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    z-index: 0;
}

.illustrations_card_content{
    width: 100%;
    border: var(--border_surface_large);
    border-radius: var(--border_raduis_medium);
    box-shadow: var(--shadow_surface);
    overflow: hidden;
    background: var(--background);
    cursor: pointer;
    z-index: 1;
}

.illustrations_card_content a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.illustrations_card_img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: var(--illustrations_card_border);
}

.illustrations_description{
    color: var(--text);
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.illustrations_link_frame{
    color: var(--text);
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: static;
    text-transform: uppercase;
}

.illustrations_arrow{
    fill: var(--accent);
}