.vector_frame{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--spacing_l);
}

.illustrations_content{
    width: 90%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
}

.illustrations_flex_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing_l);
}

.illustrations_card{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    z-index: 0;
    transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
}

.illustrations_card_hover{
    z-index: 1;
    transform: scale(1.04);
}

.illustrations_card_inner{
    width: 100%;
    border: var(--border_surface_large);
    border-radius: var(--border_raduis_medium);
    box-shadow: var(--shadow_surface);
    overflow: hidden;
    background: var(--background_secondary);
    cursor: pointer;
    z-index: 1;
}

.illustrations_card_inner a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.illustrations_card_img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.illustrations_description{
    display: block;
    margin-right: var(--spacing_s);
    margin-left: var(--spacing_s);
    margin-bottom: var(--spacing_s);
}

.illustrations_link_frame{
    color: var(--text);
    margin-top: var(--spacing_s);
    margin-right: var(--spacing_s);
    margin-left: var(--spacing_s);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: static;
    text-transform: uppercase;
}