.site_bar{
    --site_bar_transitions: all 0.25s cubic-bezier(0.55, 0, 1, 0.45);
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 2;
    align-items: center;
    background: var(--background);
    border-bottom: var(--border_surface_large);
    box-shadow: var(--shadow_surface);
    transition: var(--site_bar_transitions);
}

.expanded_site_bar{
    border-bottom: 0px;
    box-shadow: none;
}

.expanded_site_bar > .site_bar_inner{
    height:90px
}

.expanded_site_bar > .site_bar_inner > .site_bar_logo_frame{
   opacity: 0;
}

.expanded_site_bar > .site_bar_inner > .tabs_frame{
    align-items:flex-end;
}

.expanded_site_bar > .site_bar_inner > .tabs_frame > div{
    line-height: 70%;
}

.expanded_site_bar > .site_bar_inner > .tabs_frame > .tab_is_active{
    font-size: 3.556em;
}

.site_bar_inner{
    max-width: 1800px;
    height: 46px;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr min(1150px , 90%) 1fr;
}

.site_bar_logo_frame{
    grid-column-start: 1;
    grid-row-start: 1;
    padding-left: 8px;
    display: flex;
    align-items: center;
    transition: var(--site_bar_transitions);
}

.site_bar_logo_frame > svg{
    fill: var(--type);
    margin-right: 6px;
}

.tabs_frame{
    grid-column-start: 2;
    grid-row-start: 1;
    font-size: 1.333em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--text_secondary);
}

.tabs_frame > div {
    margin-right: 16px;
    display: block;
    pointer-events: auto;
    cursor: pointer;
}

.tab_is_active{
    color: var(--text);
    order: -1;
}

.site_bar_themes{
    grid-column-start: 2;
    grid-row-start: 1;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-self: end;
    align-items: stretch;
}

@media screen and (max-width: 830px) {
    /* when the viewport is 830px or smaller */
    .site_bar_logo_frame > div{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    /* when the viewport is 650px or smaller */
    .site_bar_logo_frame{
        display: none;
    }
    
    .site_bar_themes{
        display: none;
    }
}

@media screen and (min-width: 1600px) {
    /* when the viewport is 1500px or bigger */

    .side_menu_frame{
        display: flex;
    } 

    .side_menu_frame{
        font-size: 22px;
    }
}
