.vitals_book_v1{
    --book_color:linear-gradient(180deg, #160040 0%, #25006C 43.75%, #000000 92.19%); ;
}

.vitals_book_v2{
    --book_color:linear-gradient(180deg, #400000 0%, #6C0000 43.75%, #000000 92.19%); ;
}

.vitals_books_container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    background: linear-gradient(89.9deg, #000000 0.08%, rgba(0, 0, 0, 0) 28.62%), linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 15.01%), linear-gradient(180deg, #000000 0%, #333333 53.65%, #000000 94.81%);
}
  
.vitals_book_container {
    position: relative;
    max-width: 314px;
    width: 48%;
    z-index: 1;
    perspective:3000px;
    color: var(--hover);
    margin: 0 10px;
}
  
.vitals_book {
    cursor: pointer;
    position: relative;
    display: block;
    height: 444px;
    border-radius: 2px 4px 4px 2px;
    background: var(--background);
    -webkit-box-shadow: 13px 13px 8px 0px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 13px 13px 8px 0px rgba(0, 0, 0, 0.50);
    box-shadow: 13px 13px 8px 0px rgba(0, 0, 0, 0.50);
    font-weight: 400;   
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
}
  
.vitals_book:hover {
    -webkit-transform: rotate3d(0,1,0,35deg);
    -moz-transform: rotate3d(0,1,0,35deg);
    transform: rotate3d(0,1,0,35deg);
}
  
.vitals_book > div,
.vitals_book_front > div {
    display: block;
    position: absolute;
}
  
.vitals_book_front {
    width: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
    -webkit-transform: translate3d(0,0,20px);
    -moz-transform: translate3d(0,0,20px);
    transform: translate3d(0,0,20px);
    z-index: 10;
}
  
.vitals_book_front > div {
    width: 100%;
    height: 444px;
}
  
.vitals_book_spine{
    width: 40px;
    left: -20px;
    height: 444px;
    background: var(--book_color);
    box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.05);  
    -webkit-transform: rotate3d(0,1,0,-90deg);
    -moz-transform: rotate3d(0,1,0,-90deg);
    transform: rotate3d(0,1,0,-90deg);
}
  
.vitals_cover_title{
    font-weight: 500;
    font-size: 1.333em;
    line-height: 28px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    position: absolute;
    top: 64px;
    left: -35px;
    transform: rotate(90deg);
}
  
  
.vitals_cover_author{
    position: absolute;
    bottom: 0px;
    left: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    text-transform: capitalize;
}
  
.vitals_book_front > div {
    border-radius: 0 3px 3px 0;
    box-shadow: inset 0px 2px 2px rgba(255, 255, 255, 0.13);
}
  
.vitals_book_front:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
}
  
.vitals_book_cover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 8px;
    background: var(--book_color);
    box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(216, 216, 216, 0.25), inset 0px 0px 2px rgba(0, 0, 0, 0.8);
}
  
  
  .vitals_book_container h2 {
    width: 400px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    padding-right: 10px;
    text-align: right;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(-40px);
    -moz-transform: rotate(90deg) translateY(-40px);
    transform: rotate(90deg) translateY(-40px);
  }
  
  .vitals_book_cover {
    background:  radial-gradient(213.02% 78.63% at 12.78% 49.89%, rgba(0, 0, 0, 0) 0.01%, #212121 0.02%, #000000 100%);
}
  .vitals_book_spine h2 span:first-child {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    padding-right: 20px;
  }