:root{
    --spacing_xxs : 6px;
    --spacing_xs : 8px;
    --spacing_s : 12px;
    --spacing_m : 20px;
    --spacing_l : 24px;
    --spacing_xl : 32px;
    --spacing_xxl : 48px;
}

html{
    height: 100%;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    font-size: 18px;
    color: var(--text);
    font-family: var(--font_family);
    font-weight: var(--font_weight_m); 
}

body{
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 1;
    background-color: var(--background);
}

.main_scroll_view{
    display: flex;
    flex-direction: column;
}

.tab_container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.view_port_frame{
    width: 100vw;
    height: 100vh;
}

.unselectable{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

::selection {
    background: var(--selected); /* WebKit/Blink Browsers */
}
  
::-moz-selection {
    background: var(--selected); /* Gecko Browsers */
}

.text_light{
    font-weight: var(--font_weight_s); ;
}

.text_regular{
    font-weight: var(--font_weight_m);
}

.text_bold{
    font-weight: var(--font_weight_xl);
}

.text_medium_spaced_upper{
    font-weight: var(--font_weight_l);
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.text_display_small_spaced{
    font-weight: var(--font_weight_l) ;
    font-size: 1.333em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.text_display_small{
    font-weight: var(--font_weight_xl);
    font-size: 1.333em;
    text-transform: capitalize;
    padding-right: 4px;
}

.toast{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: -100px;
    left: 0%;
    width: 100%;
    z-index: 10;
}

.toast_container{
    padding: 10px;
    border-radius: var(--border_raduis_small);
    background: var(--text);
    color: var(--background);
    border: 1px solid var(--background_tertiary);
}

.accent_color{
    color: var(--accent);
}


@media screen and (max-width: 768px) {
    /* when the viewport is 450px or smaller */
    html{
        font-size: 16px;
    }
}

@media screen and (min-width: 1600px) {
    /* when the viewport is 450px or smaller */
    html{
        font-size: 20px;
    }
}
