:root{
    /* Color styles */
    --theme:night;
    --background:#000000;
    --type:#ffffff;
    --accent:#B90000;
    --hover:#FFCDCD;
    --selected:#b46161;

    --tag_border:1px solid var(--accent);
    --tag_corners:6px;

    --btn_link_border: 0;
    --btn_link_border_bottom:1px solid var(--type);
    --btn_link_corners:6px;
    --btn_link_background_image: "0";
    --btn_link_background_size: "0";

    --bits_card_corners: 0px 6px 6px 6px;
    --bits_card_border: 1px solid var(--type);
    --bits_strip_corners: 6px 6px 0px 0px;

    --footer_border:1px solid var(--accent);

    --contact_card_border: 1px solid var(--type);

    --tab_frame_border: 1px solid var(--type);
}

html{
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    font-size: 18px;
    color: var(--type);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

body{
    margin: 0px;
    opacity: 1;
    background-color: var(--background);
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.view_port_frame{
    width: 100vw;
    height: 100vh;
}

.dot{
    color: var(--accent);
}

.icon_btn{
    height: 52px;
    width: 52px;
    border: 2px solid var(--type);
    background-color: var(--background);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    cursor: pointer;
}

.icon_btn > svg{
    fill: var(--type)
}

.icon_btn_close > svg{
    fill: var(--accent)
}

.unselectable{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

::selection {
    background: var(--selected); /* WebKit/Blink Browsers */
}
  
::-moz-selection {
    background: var(--selected); /* Gecko Browsers */
}


@media screen and (max-width: 450px) {
    /* when the viewport is 450px or smaller */
    html{
        font-size: 16px;
    }
}
