
.works_frame{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.project_container{
    display: grid;
    grid-template-columns: 300px 1fr ;
    grid-template-rows: auto auto auto;
    max-width: 1150px;
    min-height: 300px;
    width: 90%;
    border: var(--border_surface_large);
    background: var(--background_secondary);
    box-shadow: var(--shadow_surface);
    border-radius: var(--border_raduis_medium);
    margin-bottom: var(--spacing_xxl);
    overflow: hidden;
}

.project_image_frame{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 4;
    background: red;
    width: 100%;
    height: 100%;
    border-right: var(--border_surface_large);
}

.project_header_container{
    grid-row-start: 1;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto;
    margin: var(--spacing_m) var(--spacing_m) 0 var(--spacing_m);
}

.project_title_frame{
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-column-start: 1;
}

.project_subtitle{
    color: var(--text_secondary);
}

.project_tag_frame{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    justify-self: end;
    align-self: start;
    display: flex;
    justify-content: end;
}

.project_body{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    margin: var(--spacing_xxs) var(--spacing_m);
}

.project_links_frame{
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    margin: 0px var(--spacing_m) var(--spacing_m) var(--spacing_m);
}

.project_link{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: var(--spacing_xxs);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.project_link_icon {
    margin-right: var(--spacing_xxs);
    min-width: var(--spacing_xs);
    fill: var(--text_secondary);
}

.project_link_url_display{
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.tag{
    padding: var(--spacing_xxs) var(--spacing_xs);
    margin: 0 0 0 var(--spacing_xs);
    border-radius: var(--border_raduis_small);
    background: var(--background_tertiary);
    border: var(--border_secondary);
}

@media screen and (max-width: 1000px) {
    /* when the viewport is 1000px or smaller */
    .project_container{
        grid-template-columns: 250px 1fr ;
    }
}

@media screen and (max-width: 768px) {
    /* when the viewport is 768px or smaller */
    .project_container{
        max-width: 420px;
        grid-template-columns: 100% ;
        grid-template-rows: 250px auto auto auto;
    }


    .project_image_frame{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
    }
    
    .project_header_container{
        grid-row-start: 2;
        grid-column-start: 1;
        display: grid;
        grid-template-columns: 1 ;
        grid-template-rows: auto auto;
    }

    .project_title_frame{
        grid-row-start: 1;
        grid-column-start: 1;
    }
    
    .project_tag_frame{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        justify-self: start;
        align-self: start;
        display: flex;
        justify-content: end;
    }

    .tag{
        margin: var(--spacing_xxs) var(--spacing_s) var(--spacing_xxs) 0;
    }

    .project_body{
        box-sizing: border-box;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .project_links_frame{
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
}