.resume_frame{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cv_content{
    width: 90%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv_timeline{
    overflow: scroll;
}

.exp_frame{
    width: 100%;
    color: var(--text);
    display: flex;
    flex-direction: row;
}

.exp_date_frame_desktop{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 78px;
}

.exp_date_desktop{
    text-align: right;
}

.exp_date_duration_desktop{
    text-align: right;
    text-transform: capitalize;
}

.exp_timeline_frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.exp_timeline_head{
    width: 2px;
    height: 4px;
    background: var(--text_secondary);
}

.exp_frame:first-child > .exp_timeline_frame > .exp_timeline_head{
    opacity:0;
}

.exp_frame:last-child > .exp_timeline_frame > .exp_timeline_body{
    background: linear-gradient(180deg, var(--text_secondary), rgba(255,0,0,0));
}

.exp_timeline_dot{
    width: 10px;
    height: 10px;    
    background: var(--accent);
    border: 2px solid var(--text_secondary);
    border-radius: 100%;
}

.exp_timeline_body{
    width: 2px;
    background: var(--text_secondary);
    flex-grow: 1;
}

.exp_content_frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
}

.exp_title_frame{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
}

.exp_company{
    text-transform: uppercase;
}

.exp_job_title{    
    font-weight: var(--font_weight_l);
    text-transform: capitalize;
    margin: 0 10px;
}

.exp_date_mobile{
    display: none;
    white-space: pre-line;
}

.exp_body > p{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

/* 
.cv_img{
    DO NOT DELETE : this could be useful : Calcuating the correct aspect ratio for an A4 paper to fill in the screen 
    height: calc(min(90vw, (98vh - 64px) * 0.70707070707) * 1.41428571429);
    width: min(90vw, (98vh - 64px) * 0.70707070707);
    background-image: url(../assets/cv.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 10px;
    background-color: var(--text);
    z-index: 3;
}
*/

.cv_btn_frame{
    padding: var(--spacing_m) var(--spacing_m);
    border-radius: var(--border_raduis_medium);
    box-shadow: var(--shadow_surface);
    border: var(--border_surface_small);
    display: flex;
    max-width: 400px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing_l);
}

.cv_btn_frame > span{
    margin-right: var(--spacing_m);
}

@media screen and (max-width: 700px) {
    .exp_date_frame_desktop{
        display: none;
    }

    .exp_date_mobile{
        display: block;
    }

    .exp_title_frame{
        flex-direction: column;
    }
    .exp_job_title{
        margin: 2px 0;
    }
}

@media screen and (min-width: 1600px) {
    .exp_date_frame_desktop{
        min-width: 90px;
    }
}




