.theme_close_btn {
    cursor: pointer;
}

.theme_widget{
    font-size: 18px; /*-- keep it like this, should stay static for spacing--*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 200px;
    cursor: pointer;
    margin-bottom: var(--spacing_xxs);
    border-left: 1px solid var(--text);
    border-right: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
    border-radius: 0 0 16px 16px;
    transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
}

.theme_widget_expanded{
    transform: translateY(60px);
}

.theme_widget_text{
    width: 14px;
    height: 24px;
    transform: rotate(-90deg);
    opacity: 0;
}

.theme_widget_expanded  > .theme_widget_text{
    opacity: 1;
}

.theme_widget_dot{
    width: 14px;
    height: 14px;
    margin-bottom: 4px;
    border-radius: 50%;
}

.theme_transition{
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.theme_transition > * {
    font-size: 2.667em;
    font-weight: var(--font_weight_xl);
    letter-spacing: 0.02em;
    text-transform: uppercase;
}