
.theme_closed{
    cursor: pointer;
    position: relative;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.theme_open{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.theme_close_btn{
    cursor: pointer;
}

.theme_widget{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: static;
    width: 20px;
    height: 80%;
    cursor: pointer;
    border-left: 1px solid var(--text);
    border-right: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
    border-radius: 0 0 16px 16px;
    margin-left: var(--spacing_s);
}

.theme_widget > * {
    width: 14px;
    height: 14px;
    margin-bottom: 4px;
    border-radius: 50%;
}

.theme_widget_text{
    display: none;
}

.theme_transition{
    position: fixed;
    z-index: 2;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.theme_transition > * {
    font-size: 2.667em;
    font-weight: bold;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}