.title_screen_frame{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    flex-direction: row;
    left: 0;
    top: 0;
    z-index: 5;
}

.title_purse_frame{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title_purse_top{
    width: 100%;
    height: 50%;
    background-color: var(--type);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
}

.title_purse_bottom{
    width: 100%;
    height: 50%;
    background-color: var(--type);
}

.title_btn_works{
    width: 120px;
    height: 120px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 500;
    color: var(--background);
}

.title_text_gualti{
    margin-right: 10px;
    z-index: 1;
    cursor: pointer;
}

.title_arrow{
    z-index: 1;
    cursor: pointer;
}

.title_btn_works_outline{
    position: absolute;
    cursor: pointer;
    width: 120px;
    height: 120px;
    transition: 150ms;
    background-color: var(--type);
    border: 2px solid var(--background);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    transform: rotate(45deg);
}

.title_btn_works_halo{
    position: absolute;
    width: 120px;
    height: 120px;
    border: 1px solid var(--background);
}